.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 104px;
  margin-right: 16px;
}

.list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.social {
  display: flex;
  list-style: none;
  padding: 0;
}

.link {
  font-family: "Rosario", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.current {
  color: #D1C12B;
}

.logo {
  width: 122px;
  height: 35px;
}

.tg {
  width: 28px;
  height: 15px;
}

.vk {
  width: 36px;
  height: 15px;
}

.inst {
  width: 26px;
  height: 15px;
}