.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 104px;
  margin-right: 16px;
}

.list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.link {
  font-family: "Rosario", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.current {
  color: #D1C12B;
}


